[Unit]
Description=ROS2 CM5 Comparison launcher
After=network-online.target phc2sys.service
Wants=network-online.target
Requires=phc2sys.service

# Disable start-rate limiting (important for field recovery)
StartLimitIntervalSec=0

[Service]
Type=simple

############################
# Real-time & performance
############################
LimitRTPRIO=infinity
LimitMEMLOCK=infinity
OOMScoreAdjust=-900

############################
# Environment (NO login shell)
############################
Environment=HOME=/home/m2
Environment=USER=m2
Environment=PYTHONUNBUFFERED=1
Environment=ROS_DOMAIN_ID=9



############################
# Execution
############################
WorkingDirectory=/home/m2/m1-m2-comparison/m2_ws

# Give NIC, PTP, and clocks time to stabilize
ExecStartPre=/bin/sleep 15

# Inline shell script:
ExecStart=/bin/bash -c 'source /opt/ros/jazzy/setup.bash; source /home/m2/m1-m2-comparison/m2_ws/install/setup.bash; ros2 launch m2_launch m2_launch.py'

############################
# Restart & shutdown behavior
############################
Restart=always
RestartSec=60
TimeoutStopSec=30
KillSignal=SIGINT
WatchdogSec=0

############################
# Logging
############################
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target