[Unit]
Description=Synchronize system clock or PTP hardware clock (PHC)
Documentation=man:phc2sys
Requires=ptp4l.service
After=ptp4l.service
Before=time-sync.target

[Service]
Type=simple
ExecStartPre=/bin/sleep 60
ExecStart=/usr/sbin/phc2sys -w -s enp6s0 -u 5

[Install]
WantedBy=multi-user.target
